<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
            <img src="{{ asset('/images/peess.jpg') }}" width="100" height="60" class="d-inline-block align-top" alt="PEES">
      </a>
    </header>
  </div>